* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.my-navbar{
    height: 30px;
}

img {
    width: 100%;
    vertical-align: middle;
    object-fit: fill;
    overflow: hidden;
}

.my-logo-navbar{
    width: 100px;
    height: auto;
}

.nav{
    --bs-nav-link-color: #000000;
    --bs-nav-link-hover-color: #000000;
    background-color: white;
}


.navbar-nav {
    --bs-nav-link-hover-color: rgba(0, 0, 0, 0.8);
 }

 .navbar-toggler{
    border: none;
    --bs-btn-close-hover-opacity:0.75;
 }

 .navbar-toggler:focus {
    box-shadow: none;
}

.btn-close{
    --bs-btn-close-focus-shadow:none;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
    /* background-color: rgb(75 80 85) !important; */
}

.offcanvas-title{
    font-weight: bold;
}

h2{
    font-size: 8vw;
    font-weight: bold;
}

.my-burger-menu:hover{
    opacity: 1;
}

#home{
    height: 100vh;
}

.d-flex{
    flex-direction: column;
    justify-content: space-between;
}

.my-home-text{
    margin: 4rem 0 2rem 0;
    width: 100%;
}

.fa-bars{
    opacity: 0.75;
}

.fa-bars:hover {
    opacity: 1;
}



section{
    padding: 2em;
    margin-top: 3em;
}

h1{
    font-size: 10vw;
    font-weight: bold;
}

.text-description-about p{
    font-size: 1.7rem;
}



/* SECTION STUDIO  */


#studio{
    padding:0;
}

#studio .container-fluid{
    padding-left: 0;
    padding-right: 0;
}


h3{
    font-size: 3.8rem;
    font-weight: bold;
}

.my-studio-card1 .d-flex,
.my-studio-card2 .d-flex,
.my-studio-card3 .d-flex,
.my-studio-card4 .d-flex{
    flex-direction: row;

}


.my-studio-card1{
    background-color: #C3ABFF;
}

.my-studio-card2{
    background-color: white;
}

.my-studio-card3{
    background-color: #FED35B;
}

.my-studio-card4{
    background-color: #232323;
}

.my-studio-card4 .my-studio-text{
    color: white;
}

.my-studio-img{
    width: 500px;
}

.my-studio-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.my-studio-text p{
    font-size: 2rem;
}

/* SECTION WE ARE  */

#we-are{
    padding: 0;
}


.we-are-creative,
.we-are-dpc,
.we-are-team,
.we-are-objective{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
}

.we-are-creative,
.we-are-objective{
    background-color: #232323;
    color: white;
}

.we-are-dpc{
background-color: #FED35B;
}

.we-are-team{
background-color: #C3ABFF;
}

#we-are p{
    font-size: 1.5rem;
}







/* PRUEBA FOOTER  */


#main {
    position: relative;
    z-index: 1;
    background-color:white;
    padding: 120px 0 600px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  }

  footer {
    /* height: 900px;
    background-color: #C3ABFF;
    font-size: 12px;
    position: relative; 
    z-index: -2; 
    color: white;
    display: none;
    transition: opacity 0.5s ease; */
    position: fixed;
    bottom: -900px; /* Coloca el footer fuera de la vista */
    left: 0;
    width: 100%;
    height: 400px;
    background-color: #C3ABFF;
    color: white;
    text-align: center;
    transition: bottom 4s ease;
    margin-top: 3rem;
    z-index: 0;
  }

  footer.visible {
    bottom: 0;
}


  .top-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 3rem;
  }

  .top-info .nav-link{
    font-size: 2rem;
  }

  .top-info .mail-footer{
    display: flex;
    flex-direction: column;
  }

  .mail-footer-info{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: end;
  }

  .mail-footer-info h3{
    font-size: 2rem;
  }
